.main-content{
    width:60%;
    min-width:22rem;
    margin:auto;
}
.result-heading{
    text-decoration: underline;
}
.user-score{
    padding:8px 0;
}
.quiz-content{
    margin:1rem 0;
}
.mcqs{
    margin-bottom:2rem;
}
.opt{
    margin:1rem 0;
    padding:8px 12px;
    border-radius: 3.2px;
}
.incorrect{
    background-color: #EF4444;
}
.correct{
    background-color: #15803D;
}